.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#RecipeForm:hover {
  box-shadow: 2px 2px 2px #f8ff27 !important;
  cursor: pointer !important;
}

.form-field:hover {
  border-color: rgb(243, 179, 60) !important;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #TableForm {
    width: 100% !important;
    overflow-x: auto;
  }

  table {
    width: 100%;
    max-width: 100%;
  }

  td.image-column {
    max-width: 150px;
  }
  #search {
    width: 250px !important;
  }
  #gif {
    width: 375px !important;
  }
  #singleProduct {
    display: flex !important;
    flex-direction: column !important;
    overflow-x: hidden;
  }
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.button:hover {
  color: #222;
}

.button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.video-btn:hover {
  background-color: whitesmoke;
  border-radius: "12px";
}

* {
  box-sizing: border-box;
}
section {
  position: relative;
  z-index: 1;
  padding: clamp(3em, 6vw, 5em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 2em;
  background: radial-gradient(var(--body-bg), #000);
  overflow-x: hidden;
}
#img-container {
  margin-left: 8em;
  height: 280px;
  width: 280px;
  perspective: 500px;
  transform-style: preserve-3d;
}
.box {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  border: 1px solid #bbb;
  border-radius: 1.5em;
  box-shadow: 0 0 8px hsla(0deg, 0%, 0%, 75%);
  transition: 800ms ease-in-out;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: 100%;
}
.box:first-of-type {
  left: 15%;
  opacity: 0;
  z-index: 5;
  transform: translate(-50%, -50%) rotateY(-10deg);
}
.box:nth-of-type(2) {
  left: 20%;
  opacity: 1;
  z-index: 5;
  transform: translate(-50%, -50%) rotateY(-10deg);
}
.box:nth-of-type(3) {
  left: 25%;
  opacity: 0.75;
  z-index: 10;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-40px);
}
.box:nth-of-type(4) {
  left: 30%;
  opacity: 0.5;
  z-index: 5;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-100px);
  color: #eee;
}

#card {
  --br: 1em;
  position: relative;
  padding: 1vmin 1em;
  width: min(400px, 95%);
  background: linear-gradient(30deg, #2f3238, hsl(210, 56%, 24%));
  color: #dce3f9;
  border-radius: var(--br);
}
#card::after {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: var(--br);
  --color1: hsla(0deg, 0%, 96%, 30%);
  --color2: hsla(0deg, 0%, 90%, 75%);
  background: linear-gradient(35deg, var(--color1), var(--color2));
  background: conic-gradient(
      var(--color1),
      var(--color2) 15%,
      var(--color1) 25%
    ),
    hsl(210, 95%, 8%);
  background-blend-mode: screen;
}
@media (width>768px) {
  section {
    flex-direction: row;
  }
  #card::after {
    inset: -1px;
  }
}
.shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateY(20px) scale(0.9);
  filter: blur(125px);
  z-index: -1;
}

.card {
  width: 300px; /* Adjust the width as needed */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s; /* Add a hover effect */
}

/* Style the card image */
.card img {
  max-width: 100%;
  height: auto;
}

/* Style the card content (title and description) */
.card-content {
  padding: 10px;
}

.card-content h2 {
  font-size: 20px;
  margin: 0;
}

.card-content p {
  font-size: 14px;
  margin: 10px 0;
}

/* Add a hover effect */
.card:hover {
  transform: scale(1.05);
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.bg {
  background-image: url("images/bg-1.avif");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.bgTwo {
  background-image: url("images/bg-2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.bgThree {
  background-image: url("images/bg-3.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  #TableForm {
    max-width: 100%; /* Set the max-width to 100% for small screens */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  table {
    width: 100%; /* Make the table take the full width of its container */
    max-width: 100%; /* Set the max-width to 100% for small screens */
  }

  td.image-column {
    max-width: 200px !important; /* Set the max-width of image columns to 200px */
  }
}

#cookies {
  height: 70vh !important;
  width: 100vw !important;
  overflow-x: hidden;
}

/* Media query for screens 500px and below */
@media screen and (max-width: 700px) {
  #cookies {
    height: 70vh; /* Adjust the height as needed for smaller screens */
    background-image: none; /* Remove the background image */
    /* z-index: 1; */
  }

  /* Adjust the image size */
  .img-responsive {
    width: 250px !important;
  }

  /* Adjust the width of the w-50 class to 100% */
  .w-100.w-md-50 {
    width: 100% !important;
  }
}

.crbg {
  background-color: #f7cd46 !important;
}
/* Original styles for screens wider than 700px */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  width: 100vw;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1%;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}

/* Media query for screens 700px or narrower */
@media screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0 10px; /* Adjust padding for mobile view */
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: auto;
    margin-bottom: 10px;
    flex-basis: auto;
  }

  .footer-col-2 img {
    width: 120px;
    margin-bottom: 10px;
  }

  ul {
    padding: 0;
  }

  .app-logo img {
    width: 100px;
  }
}

@media screen and (max-width: 1200px) {
  #reviewCard {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 500px) {
  .formWidth {
    width: 350px !important;
  }
  #home {
    margin-left: 12px !important;
  }
  .right-slide > div {
    min-width: 200px;
    position: relative !important;
    left: 35px !important;
    background-size: 100% 100%; /* Set background size to cover the entire container */
  }

  .left-slide > div {
    min-width: 175px;
  }
  .action-buttons {
    position: absolute;
    left: 43%;
    top: 50%;
  }
  #singleProduct p {
    word-spacing: 10px;
    text-align: start;
  }

  #indregients {
    text-align: start !important;
  }
  .alert {
    display: none;
  }
}

#formWidth {
  background-image: url("images/bg.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
